{% extends 'aspirante/dashboard_aspirante.html' %}
{% block title %}Encuesta | Responder{% endblock %}
{% block header_page %}
<h1 class="page-header">
    <div class="row">
        <div class="col-md-4">Encuesta <small>Responder</small></div>
        <div class="col-md-8">
            <form>
                <div class="form-inline" style="text-align: center">
                    <div class="form-group">
                        <small>Selecciona la carrera: </small>
                    </div>
                    <div class="form-group ">
                        {% raw %}
                        <select class="form-control" v-model="encuesta.id" @change="asignar_encuesta">
                            <option disabled value="" class="form-control">Escoge un perfil</option>
                            <option v-for="(perfil, index) in encuestas" class="form-control" v-bind:value="index">{{perfil.perfil}}</option>
                        </select>
                        {% endraw %}
                    </div>
                    <div class="form-group">
                        <a @click="mostrar_encuesta" class="btn text-white" style="background: rgb(19,61,57)">Responder encuesta</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</h1>
{% endblock %}
{% block content_page %}
<div class="row">
    {% raw %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            Encuesta para {{encuesta.perfil}}
        </div>
        <div class="panel-body">
            <p>
            <h3>{{pregunta.pregunta}}</h3>
            </p>
            <p>
            <div class="form-group" v-for="(rta, key) in pregunta.respuestas">
                <div class="col-md-12" >
                    <div class="input-group" @click="contestar(rta, key)">
                        <span class="input-group-addon text-center"> {{key}} </span>
                        <label class="form-control" >{{rta}}</label>
                    </div>
                </div>
            </div>
            </p>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <button class="btn btn-info"  @click="next">Siguiente pregunta</button>
            </div>
        </div>
    </div>
    {%  endraw %}
</div>
{% endblock %}

