<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="pdfkit-page-size" content="Legal" />
</head>

<body>
    <h2>Informacion de Usuario</h2>
    <table>
        <tbody>
            <tr>
                <td>Nombre</td>
                <td style="color: red;">{{usuario.nombres + " " + usuario.apellidos}}</td>
            </tr>
            <tr>
                <td>Correo</td>
                <td style="color: red;">{{correo}}</td>
            </tr>
            <tr>
                <td>Colegio</td>
                <td style="color: red;">No disponible</td>
            </tr>
        </tbody>
    </table>

    <h2>Respuestas</h2>
    <table>
        <tbody>
            <tr>
                <td>Nombre</td>
                <td style="color: red;">{{usuario.nombres + " " + usuario.apellidos}}</td>
            </tr>
            <tr>
                <td>Correo</td>
                <td style="color: red;">{{correo}}</td>
            </tr>
            <tr>
                <td>Colegio</td>
                <td style="color: red;">No disponible</td>
            </tr>
        </tbody>
    </table>
</body>

</html>