<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Aspirante | Registro</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/animate.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/style.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/style-responsive.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/theme/default.css')}}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{url_for('static', filename='assets/plugins/pace/pace.min.js')}}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
<!-- begin #page-loader -->
<div id="page-loader">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <div class="message">Cargando...</div>
    </div>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin register -->
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="/static/assets/img/login-bg/bg-1.jpg" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title">
                    <div class="media">
                        <a class="media-left" href="javascript:;">
                            <img src="/static/assets/img/logos/escudo-udec.png" alt="" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading text-white">UNIVERSIDAD DE CUNDINAMARCA</h3>
                            Bienvenido al registro de nuestro sistema de orientación vocacional.
                        </div>
                    </div>
                </h4>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin register-header -->
            <h1 class="register-header">
                Registro
                <small>Ingresa los siguientes datos para acceder al sistema.</small>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
            <div class="register-content">
                <form action="{{url_for('aspirante.registro_aspirante')}}" method="POST" class="margin-bottom-0" data-parsley-validate="">
                    {% if error %}
                    <div class="alert alert-danger">
                        <strong>Error!</strong>
                        {{error}}
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                    {% endif %}
                    {% if mensaje %}
                    <div class="alert alert-success">
                        <span class="close" data-dismiss="alert">&times;</span>
                        <strong>Hecho!</strong>
                        <a style="color: green">{{mensaje}}</a>
                    </br>
                        <a href="{{url_for('login.login')}}" style="color:green;">Haz click aquí para iniciar sesión.</a>
                    </div>
                    {% endif %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf" />
                    <label class="control-label">Nombre completo<span class="text-danger">*</span></label>
                    <div class="row m-b-15">
                        <div class="col-md-6"><input name="nombres" type="text" class="form-control col-md-6" placeholder="Nombres" data-parsley-length="[4, 80]" required data-parsley-trigger="focus change"/></div>
                        <div class="col-md-6"><input name="apellidos" type="text" class="form-control col-md-6" placeholder="Apellidos" data-parsley-length="[4, 80]" required data-parsley-trigger="focus change"/></div>
                    </div>
                    <label class="control-label">Correo <span class="text-danger">*</span></label>
                    <div class="row m-b-15">
                        <div class="col-md-12"><input name="correo" type="text" class="form-control" placeholder="Dirección de correo electrónico" data-parsley-length="[4, 80]" required data-parsley-trigger="focus change"/></div>
                    </div>

                    <div class="row m-b-15">
                        <div class="col-md-6">
                            <label class="control-label">Colegio <span class="text-danger">*</span></label>
                            <select class="form-control" name="colegio" required data-parsley-trigger="focus change">
                                <option disabled value="" class="form-control selected">Escoge el colegio donde estudiaste</option>
                                {% for colegio in colegios %}
                                <option class="form-control" value="{{colegio.Colegio.id}}">{{colegio.Colegio.nombre}}</option>
                                {% endfor %}
                                <option value="0" class="form-control">Otro colegio</option>
                            </select>
                        </div>
                    </div>
                    <label class="control-label">Contraseña <span class="text-danger">*</span></label>
                    <div class="row row-space-10">
                        <div class="col-md-6 m-b-15">
                            <input name="password" id="password" type="password" class="form-control" placeholder="Contraseña" data-parsley-length="[4, 80]" required data-parsley-trigger="focus change"/>
                        </div>
                        <div class="col-md-6 m-b-15">
                            <input type="password" class="form-control" placeholder="Confirmar contraseña" data-parsley-length="[4, 80]" required data-parsley-trigger="focus change" data-parsley-equalto="#password"/>
                        </div>
                    </div>
                    <div class="register-buttons">
                        <button type="submit" class="btn btn-block btn-lg text-white" style="background: rgb(19,61,57)">Registro</button>
                    </div>
                    <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                        Ya eres miembro? Haz click <a href="{{url_for('login.login')}}">aquí</a> para iniciar sesión.
                    </div>
                    <hr />
                </form>
            </div>
            <!-- end register-content -->
        </div>
        <!-- end right-content -->
    </div>
    <!-- end register -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{url_for('static', filename='assets/plugins/jquery/jquery-1.9.1.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery/jquery-migrate-1.1.0.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<!--[if lt IE 9]>
<script src="{{url_for('static', filename='assets/crossbrowserjs/html5shiv.js')}}"></script>
<script src="{{url_for('static', filename='assets/crossbrowserjs/respond.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/crossbrowserjs/excanvas.min.js')}}"></script>
<![endif]-->
<script src="{{url_for('static', filename='assets/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery-cookie/jquery.cookie.js')}}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{url_for('static', filename='assets/js/apps.min.js')}}"></script>
<script src="{{ url_for('static', filename='node_modules/parsleyjs/dist/parsley.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/parsleyjs/dist/i18n/es.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>
