<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Vocacional UdeC | Login</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/animate.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/style.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/style-responsive.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/theme/default.css')}}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{url_for('static', filename='assets/plugins/pace/pace.min.js')}}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
<!-- begin #page-loader -->
<div id="page-loader">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <div class="message">Cargando...</div>
    </div>
</div>
<!-- end #page-loader -->

<div class="login-cover">
    <div class="login-cover-image"><img src="{{url_for('static', filename='assets/img/login-bg/bg-1.jpg')}}" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div>
<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            <div class="media media-sm">
                <div class="media-body text-center">
                    <h2 class="media-heading text-white">VOCACIONAL UDEC</h2>
                    <p>UNIVERSIDAD DE CUNDINAMARCA</p>
                </div>
                <div class="media-right text-left">
                    <img src="/static/assets/img/logos/escudo-udec.png" class="media-object">
                </div>
            </div>
        </div>
        <!-- end brand -->
        <div class="login-content">
            <form method="POST" action="{{url_for('login.login')}}" class="margin-bottom-0">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" id="csrf" />
                {% if error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    {{error}}
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
                {% endif %}
                <div class="form-group m-b-20">
                    <input name="correo" type="text" class="form-control input-lg" placeholder="Correo electrónico" required />
                </div>
                <div class="form-group m-b-20">
                    <input name="password" type="password" class="form-control input-lg" placeholder="Contraseña" required />
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-block btn-lg text-white" style="background: rgb(19,61,57)">Iniciar sesión</button>
                </div>
                <div class="m-t-20 text-justify">
                    Aún no eres miembro? Haz click <a href="{{url_for('aspirante.registro_aspirante')}}">aquí</a> para registrarte como aspirante.
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{url_for('static', filename='assets/plugins/jquery/jquery-1.9.1.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery/jquery-migrate-1.1.0.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<!--[if lt IE 9]>
<script src="{{url_for('static', filename='assets/crossbrowserjs/html5shiv.js')}}"></script>
<script src="{{url_for('static', filename='assets/crossbrowserjs/respond.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/crossbrowserjs/excanvas.min.js')}}"></script>
<![endif]-->
<script src="{{url_for('static', filename='assets/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/plugins/jquery-cookie/jquery.cookie.js')}}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{url_for('static', filename='assets/js/login-v2.demo.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/apps.min.js')}}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        LoginV2.init();
    });
</script>
</body>
</html>
